{% load index %}
<form {% if requestDetails.is_active == False %} inert {% endif %} id="bank_form">

  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <div style="display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;">
      <h3 class="multisteps-form__title">Bank Details</h3>
      <button type="button" onclick="autofill(event,'bankDetailsAPI', 'bank_form')" id="load_bank_details" data-toggle="tooltip" data-placement="top" title="Load Data From Prev. Saved From ?"><i class="fa fa-refresh" aria-hidden="true"></i> </button>
    </div>

    <div class="multisteps-form__content">
        {% for bank_detail in user|filter_bank_details %}
            <div class="form-row mt-4">
              {% if 'bank_name' in investorBankDetailsFields %}
                <label for="bank_name" class="col-12 col-sm-3">Bank Name :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="bank_name" id="bank_name" type="text" placeholder=""
                  value="{{ bank_detail.bank_name }}" />
                </div>
              {% endif %}
              {% if 'branch_address' in investorBankDetailsFields %}
                <label for="branch_address" class="col-12 col-sm-3 mt-4">Branch Address :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="branch_address" id="branch_address" type="text" placeholder=""
                    value="{{ bank_detail.branch_address }}" />
                </div>
              {% endif %}
            </div>

            <div class="form-row mt-4">
              {% if 'micr_number' in investorBankDetailsFields %}
                <label for="micr_number" class="col-12 col-sm-3">Micr Number :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="micr_number" id="micr_number" type="text" placeholder=""
                    value="{{ bank_detail.micr_number }}" />
                </div>
              {% endif %}
              {% if 'account_no' in investorBankDetailsFields %}
                <label for="account_no" class="col-12 col-sm-3 mt-4">Account No :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="account_no" id="account_no" type="number" placeholder=""
                    value="{{ bank_detail.account_no }}" />
                </div>
              {% endif %}
            </div>

            <div class="form-row mt-4">
              {% if 'account_type' in investorBankDetailsFields %}
                <label for="account_type" class="col-12 col-sm-3">Account Type :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="account_type" id="account_type" type="text" placeholder=""
                    value="{{ bank_detail.account_type }}" />
                </div>
              {% endif %}

              {% if 'ifsc_number' in investorBankDetailsFields %}
                <label for="ifsc_number" class="col-12 col-sm-3 mt-4">IFSC Number :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="ifsc_number" id="ifsc_number" type="text" placeholder=""
                    value="{{ bank_detail.ifsc_number }}" />
                </div>
              {% endif %}
            </div>
            <div class="form-row mt-4">

              {% if 'pincode' in investorBankDetailsFields %}
                <label for="pincode" class="col-12 col-sm-3 mt-4">Pincode :</label>
                <div class="col-12 col-sm-3">
                  <input class="multisteps-form__input form-control" name="pincode" id="pincode" type="number" placeholder=""
                    value="{{ bank_detail.pincode }}" />
                </div>
              {% endif %}
            </div>
            <div class="button-row d-flex mt-4">
              <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
              <button class="btn btn-primary ml-auto js-btn-next" onclick="formSubmit(event, 'bank_form', 'investorBankDetailsSave')" id="bank_form_next" type="button" title="Next">Next</button>
            </div>
        {% endfor %}
    </div>
  </div>
</form>
