<div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
    <h3 class="multisteps-form__title">Office Only</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Details of Employee / Authorized Signatory</th>
          <th scope="col">Documents Verified with Originals</th>
          <th scope="col">Client Interviewed By & In-Person Verification done by</th>       
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name & E Code</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th scope="row">Designation</th>
          <td><input type="text"></td>
          <td><input type="text"></td> 
        </tr>
        <tr>
          <th scope="row">Date</th>
          <td><input type="date"></td>
          <td><input type="date"></td>        
        </tr>
        <tr>
          <th scope="row">Signature</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
      </tbody>
    </table>
    <div class="button-row d-flex mt-4">
      <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
      <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
    </div>
</div>